<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
		<script type="text/javascript" src="/static/js/common.js"></script>
	</head>
	<body>
		<h2 align="center">My Guest Book</h2>
		<img src="/static/img/fams-logo-small.png"	>
		<br/>
		{% for greeting in greetings %}
			{% if greeting.author%}
				<b>{{ greeting.author.nickname }}</b> wrote:
			{% else %}
				An anonymous person wrote:
			{% endif %}
			<blockquote>{{ greeting.content|escape }}</blockquote>
		{% endfor%}

		<form action="/sign" method="post">
				<div><textarea name="content" rows="3" cols="60"></textarea></div>
				<div><input type="submit" value="Sign Guestbook"></div>
		</form>

		<a href="{{ url }}">{{ url_linktext }}</a>

		<input name="click" type="button" onClick="javascript:clr()" value="Click Me">
	</body>
</html>
