{% include "../elements/header.html" %}
<div id="slideshow">
	<!-- start -->
	<div id="foobar">
		<div id="col1"><a href="#" class="previous">&nbsp;</a></div>
		<div id="col2">
			<div class="viewer">
				<div class="reel">
					<div class="slide">
						<img src="/static/img/fams-stack-php.jpg" width="726" height="335" alt="" /> 
						<span style="background-color:#000000;color:#ffffff;opacity: 0.70;">Fixed Asset Management System</span> 
					</div>
					<div class="slide">
						<img src="/static/img/oceanus-travels-banner.jpg" width="726" height="335" alt="" /> 
						<span style="background-color:#14acaf;color:#ffffff;opacity: 1.00;">Oceanus Teavels now online with Internet Lab.</span> 
					</div>
				</div>
			</div>
		</div>
		<div id="col3"><a href="#" class="next">&nbsp;</a></div>
	</div>
	<script type="text/javascript">

						$('#foobar').slidertron({
							viewerSelector:			'.viewer',
							reelSelector:			'.viewer .reel',
							slidesSelector:			'.viewer .reel .slide',
							navPreviousSelector:	'.previous',
							navNextSelector:		'.next',
							navFirstSelector:		'.first',
							navLastSelector:		'.last'
						});
						
					</script>
	<!-- end -->
</div>
<div id="page">
	<div id="page-bgtop">
		<div id="content">
			<!-- primary post -->
			<div class="post">
				<p class="meta"><span class="date">{{ primary_post.date_last_modified|date:"l, F d, Y" }} </span> {{ primary_post.date_last_modified|date:"g:i A" }} Posted by <a href="#">{{ primary_post.author.nickname|escape }}</a></p>
				<h2 class="title"><a href="#">{{ primary_post.title }}</a></h2>
				<div class="entry">
					{{ primary_post.body|truncatewords:"200" }}
				</div>
				<div><a href="/blog/view/{{ primary_post.url }}/" class="links">View Full Post</a></div>
			</div>
			<!-- end #primary post -->
			<!--new posts-->
			{% for post in recent_posts %}
			<div class="post">
				<p class="meta"><span class="date">{{ post.date_last_modified|date:"l, F d, Y" }} </span> {{ post.date_last_modified|date:"g:i A" }} Posted by <a href="#">{{ post.author.nickname|escape }}</a></p>
				<h2 class="title"><a href="#">{{ post.title|truncatewords:"8" }}</a></h2>
				<div class="entry">
					{{ post.body|truncatewords:"100" }}
				</div>
				<div><a href="/blog/view/{{ post.url }}/" class="links">View Full Post</a></div>
			</div>
			{% endfor%}
			<!--end #new posts-->
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<h2>Follow Internet Lab</h2>
					<p>
						<a href="http://twitter.com/internetlaborg" target="_blank">
						<img src="/static/img/twitter-icon.png"  alt="Follow Internet Lab on Twitter" />
						</a>
						<a href="http://www.facebook.com/pages/Internetlaborg/141414285912160" target="_blank">
						<img src="/static/img/facebook-icon.png"  alt="Follow Internet Lab on Facebook" />
						</a>
						&nbsp;
						<a href="http://www.flickr.com/photos/internetlaborg/" target="_blank">
						<img src="/static/img/flickr-icon.png" alt="Follow Internet Lab on Flickr" />
						</a>				
					</p>
				</li>
				<li>
					<h2>Internet Lab Tweets</h2>
					<div class="tweet" id="tweet"></div>	
				</li>
				{#<li>#}
					
					{#<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FInternetlaborg%2F141414285912160&amp;width=240&amp;colorscheme=dark&amp;show_faces=true&amp;stream=true&amp;header=true&amp;height=427" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:240px; height:427px;" allowTransparency="true"></iframe>#}
					
				{#</li>#}
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>
{% include "../elements/footer.html" %}

