{% include "../elements/admin_header.html" %}
<div id="slideshow">
<div>
	<div style="float:left">
		<h3>{{ page_title }}</h3>
	</div>
	<div style="float:right;margin-right:10px">
		<a href="/ilhq/blog/add/">Add Post</a>
	</div>
</div>
{% for post in posts %}
	{% if post.author%}
		<b>{{ post.author.nickname }}</b> wrote:
	{% else %}
		An anonymous person wrote:
	{% endif %}
	<blockquote>{{ post.title|escape }}</blockquote>
{% endfor%}
</div>
<div id="page">
{{ result }}
</div>
{% include "../elements/admin_footer.html" %}

