{% include "../elements/admin_header.html" %}
<div id="slideshow">
	<div style="float:left">
		<h3>{{ page_title }}</h3>
	</div>
	<div style="float:right;margin-right:10px">
		<a href="/ilhq/blog/add/">Add Post</a>
	</div>
</div>
<div id="page">
	<table border="0" style="width:100%;border:#FFFFFF">
		<tr style="background:#DDDDDD;">
			<th>&nbsp;</th>
			<th>Title</th>
			<th>Date Created</th>
			<th>Date Last Modified</th>
			<th>Action</th>
		</tr>
{% for post in posts %}
		<tr style="background:#FFFFFF;">
			<td>&nbsp;</td>
			<td style="color:#1E1E1E;">{{ post.title|truncatewords:"6" }}</td>
			<td style="color:#1E1E1E;">{{ post.date_added|date:"Y-m-d H:i:s" }}</td>
			<td style="color:#1E1E1E;">{{ post.date_last_modified|date:"Y-m-d H:i:s" }}</td>
			<td style="color:#1E1E1E;">
				{{ post.is_enabled|escape }} |
				{{ post.is_primary|escape }} |
				Edit |
				Delete
			</td>
		</tr>
		<tr>
			<td colspan="5" style="height:1px;background-color:#1E1E1E"></td>
		</tr>
{% endfor%}
	</table>

</div>
{% include "../elements/admin_footer.html" %}

