<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Throughout 
Description: A two-column, fixed-width design for 1024x768 screen resolutions.
Version    : 1.0
Released   : 20100423
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Internet Lab</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<script type="text/javascript" src="/static/js/jquery/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery/jquery.slidertron-0.1.js"></script>
	<link href="/static/css/admin-style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<!-- end #header-wrapper -->
<div id="logo">
	<img src="/static/img/internet-lab-logo.png" />
	<!--
	<h1><a href="#">Throughout </a></h1>
	<p><em> template design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a></em></p> -->
</div>
<div id="header">
	<div id="menu">
		<ul>
			<li><a href="/ilhq/" class="first">Blog</a></li>
			<li class="current_page_item"><a href="/blog">Events</a></li>
			<li><a href="#">News</a></li>
			<li><a href="#">Users</a></li>
			<li><a href="#">Logout</a></li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="search">
		<form method="get" action="">
			<fieldset>
				<input type="text" name="s" id="search-text" size="15" />
			</fieldset>
		</form>
	</div>
	<!-- end #search -->
</div>
<!-- end #header -->
<hr />
<!-- end #logo -->
