{% include "../elements/admin_header.html" %}
<div id="slideshow">
	<div style="float:left">
		<h3>{{ page_title }} {{ post.is_primary }}</h3>
	</div>
{% comment %}
	<div style="float:right;margin-right:10px">
		<a href="/ilhq/blog/add">Add Post</a>
	</div>
{% endcomment %}
</div>
<div id="page">
	<form method="post" action="/ilhq/blog/{{ paction }}/">
		<table>
			<tr>
				<td>Title :</td>
				<td><input type="text" size="80" name="ptitle" id="ptitle" value="{{post.title}}" /></td>
			</tr>
			<tr>
				<td valign="top">Post :</td>
				<td><textarea name="pbody" cols="80" rows="30" id="pbody">{{post.body}}</textarea></td>
			</tr>
			<tr>
				<td>Keywords :</td>
				<td><input type="text" size="60" name="pkeywords" id="pkeywords" value="{{post.keywords}}" /></td>
			</tr>
			<tr>
				<td>Post URL :</td>
				<td><input type="text" size="60" name="purl" id="purl" value="{{post.url}}" /></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="checkbox" name="pprimary" id="pprimary" {% if post.is_primary %} checked {% endif %} /> Set Primary
					<input type="checkbox" name="penabled" id="penabled" c{% if post.is_enabled %} checked {% endif %} /> Enabled
				</td>
			</tr>
			<tr>
				<td>
					<input type="hidden" size="60" name="pid" id="pid" value="{{post.key}}" />
					<input type="hidden" size="60" name="paction" id="paction" value="{{ paction }}" />
				</td>
				<td><input type="submit" value="Add Post" name="purl" id="purl" /></td>
			</tr>
		</table>
	</form>
</div>
{% include "../elements/admin_footer.html" %}
